In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("vac_stats.csv")

In [3]:
df["daily_vaccinations"] = df["daily_vaccinations"].fillna(0)

In [4]:
df1 = df.groupby('country').agg({'daily_vaccinations':np.median}).reset_index()

In [5]:
df1.head()

     country  daily_vaccinations
0  Argentina             11645.0
1    Austria              7850.0
2    Bahrain              3662.0
3    Belgium              3606.0
4     Brazil             17220.0

In [6]:
df2 = df1.sort_values(['daily_vaccinations'],ascending=[0])

In [7]:
df2.head(3)

          country  daily_vaccinations
58  United States            378253.0
8           China            276786.0
24          India            173922.0